<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.healthymeals.sayfine">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SayFine"
        tools:replace="android:theme">
        <activity
            android:name=".activity.crud.CrudArticleActivity"
            android:exported="true" />
        <activity
            android:name=".activity.crud.CrudMenuActivity"
            android:exported="true" />
        <activity
            android:name=".activity.crud.CrudPacketActivity"
            android:exported="true" />
        <activity
            android:name=".activity.crud.CrudPromoActivity"
            android:exported="true" />
        <activity
            android:name=".activity.ArticleListActivity"
            android:exported="true" />
        <activity
            android:name=".activity.ArticleDetailActivity"
            android:exported="true" />
        <activity
            android:name=".activity.BmiActivity"
            android:exported="true" />
        <activity
            android:name=".activity.BmiHistoryActivity"
            android:exported="true" />
        <activity
            android:name=".activity.authentication.OtpActivity"
            android:exported="true" />
        <activity
            android:name=".activity.authentication.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".activity.authentication.RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".activity.authentication.RegisterDetailsActivity"
            android:exported="true" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="true" />
        <activity
            android:name=".activity.MenuDetailActivity"
            android:exported="true" />
        <activity
            android:name=".activity.PromoDetailActivity"
            android:exported="true" />
        <activity
            android:name=".activity.MenuListActivity"
            android:exported="true" />
        <activity
            android:name=".activity.StartActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>